When you have setup a connection to the data source in your project, you can drag and drop the connection information into the cell below from the "Find and Add Data" palette to the right:
There are various styles.
Below we establish the connection using a SparkSession DataFrame
As the schema use GOSALESDW
As the table use EMP_EXPENSE_FACT
Then click "Insert Code"

In [5]:
# The code was removed by DSX for sharing.

[Row(DAY_KEY=20120731, ORGANIZATION_KEY=11170, POSITION_KEY=43639, EMPLOYEE_KEY=4053, EXPENSE_TYPE_KEY=2124, ACCOUNT_KEY=8056, EXPENSE_UNIT_QUANTITY=0.03, EXPENSE_TOTAL=Decimal('483.97')),
 Row(DAY_KEY=20120731, ORGANIZATION_KEY=11170, POSITION_KEY=43639, EMPLOYEE_KEY=4053, EXPENSE_TYPE_KEY=2130, ACCOUNT_KEY=8050, EXPENSE_UNIT_QUANTITY=0.005, EXPENSE_TOTAL=Decimal('11574.80')),
 Row(DAY_KEY=20120731, ORGANIZATION_KEY=11170, POSITION_KEY=43639, EMPLOYEE_KEY=4053, EXPENSE_TYPE_KEY=2131, ACCOUNT_KEY=8049, EXPENSE_UNIT_QUANTITY=116.25, EXPENSE_TOTAL=Decimal('3364.01')),
 Row(DAY_KEY=20120831, ORGANIZATION_KEY=11170, POSITION_KEY=43639, EMPLOYEE_KEY=4053, EXPENSE_TYPE_KEY=2104, ACCOUNT_KEY=8050, EXPENSE_UNIT_QUANTITY=7.5, EXPENSE_TOTAL=Decimal('198.16')),
 Row(DAY_KEY=20120831, ORGANIZATION_KEY=11170, POSITION_KEY=43639, EMPLOYEE_KEY=4053, EXPENSE_TYPE_KEY=2120, ACCOUNT_KEY=8052, EXPENSE_UNIT_QUANTITY=0.08, EXPENSE_TOTAL=Decimal('872.64'))]

In [2]:
data_df_1.printSchema()

root
 |-- DAY_KEY: integer (nullable = false)
 |-- ORGANIZATION_KEY: integer (nullable = false)
 |-- POSITION_KEY: integer (nullable = false)
 |-- EMPLOYEE_KEY: integer (nullable = false)
 |-- EXPENSE_TYPE_KEY: integer (nullable = false)
 |-- ACCOUNT_KEY: integer (nullable = false)
 |-- EXPENSE_UNIT_QUANTITY: double (nullable = true)
 |-- EXPENSE_TOTAL: decimal(19,2) (nullable = true)

In [3]:
data_df_1.show()

+--------+----------------+------------+------------+----------------+-----------+---------------------+-------------+
| DAY_KEY|ORGANIZATION_KEY|POSITION_KEY|EMPLOYEE_KEY|EXPENSE_TYPE_KEY|ACCOUNT_KEY|EXPENSE_UNIT_QUANTITY|EXPENSE_TOTAL|
+--------+----------------+------------+------------+----------------+-----------+---------------------+-------------+
|20130228|           11146|       43630|        4270|            2124|       8056|                 0.03|        66.64|
|20130228|           11146|       43630|        4270|            2133|       8050|                 3.75|       100.00|
|20130331|           11146|       43630|        4270|            2101|       8049|                150.0|      2245.45|
|20130331|           11146|       43630|        4270|            2104|       8050|                 15.0|       224.54|
|20130331|           11146|       43630|        4270|            2114|       8050|                 12.0|       252.00|
|20130331|           11146|       43630|        4270|            2120|       8052|                 0.08|       217.76|
|20130331|           11146|       43630|        4270|            2122|       8054|                 0.11|       299.42|
|20130331|           11146|       43630|        4270|            2124|       8056|                 0.03|        81.66|
|20130430|           11146|       43630|        4270|            2101|       8049|               108.75|      1627.95|
|20130430|           11146|       43630|        4270|            2103|       8050|                 37.5|       561.36|
|20130430|           11146|       43630|        4270|            2104|       8050|                11.25|       168.41|
|20130430|           11146|       43630|        4270|            2114|       8050|                 3.25|        68.25|
|20130430|           11146|       43630|        4270|            2120|       8052|                 0.08|       194.08|
|20130430|           11146|       43630|        4270|            2122|       8054|                 0.11|       266.86|
|20130430|           11146|       43630|        4270|            2124|       8056|                 0.03|        72.78|
|20130430|           11146|       43630|        4270|            2133|       8050|                 3.75|       250.00|
|20130531|           11146|       43630|        4270|            2101|       8049|                172.5|      2582.26|
|20130531|           11146|       43630|        4270|            2114|       8050|                12.25|       257.25|
|20130531|           11146|       43630|        4270|            2120|       8052|                 0.08|       227.16|
|20130531|           11146|       43630|        4270|            2122|       8054|                 0.11|       312.35|
+--------+----------------+------------+------------+----------------+-----------+---------------------+-------------+
only showing top 20 rows

In [4]:
# Convert spark dataframe to pandas
import pandas as pd
data_df_1.toPandas()
#dashdbDF.toPandas()

,DAY_KEY,ORGANIZATION_KEY,POSITION_KEY,EMPLOYEE_KEY,EXPENSE_TYPE_KEY,ACCOUNT_KEY,EXPENSE_UNIT_QUANTITY,EXPENSE_TOTAL
0,20110531,11199,43606,4857,2120,8052,0.080,586.67
1,20110531,11199,43606,4857,2122,8054,0.110,806.67
2,20110531,11199,43606,4857,2124,8056,0.030,220.00
3,20110531,11199,43606,4857,2131,8049,135.000,6000.00
4,20110630,11199,43606,4857,2120,8052,0.080,586.67
5,20110630,11199,43606,4857,2122,8054,0.110,806.67
6,20110630,11199,43606,4857,2124,8056,0.030,220.00
7,20110630,11199,43606,4857,2131,8049,165.000,7333.33
8,20110630,11199,43606,4857,2137,8050,7.500,250.00
9,20110731,11199,43606,4857,2120,8052,0.080,586.67
10,20110731,11199,43606,4857,2122,8054,0.110,806.67
11,20110731,11199,43606,4857,2124,8056,0.030,220.00
12,20110731,11199,43606,4857,2131,8049,157.500,7333.33
13,20110831,11199,43606,4857,2103,8050,60.000,2550.72
14,20110831,11199,43606,4857,2104,8050,37.500,1594.20
15,20110831,11199,43606,4857,2120,8052,0.080,586.67
16,20110831,11199,43606,4857,2122,8054,0.110,806.67
17,20110831,11199,43606,4857,2124,8056,0.030,220.00
18,20110831,11199,43606,4857,2131,8049,75.000,3188.41
19,20110930,11199,43606,4857,2120,8052,0.080,586.67
20,20110930,11199,43606,4857,2122,8054,0.110,806.67
21,20110930,11199,43606,4857,2124,8056,0.030,220.00
22,20110930,11199,43606,4857,2131,8049,165.000,7333.33
23,20111031,11199,43606,4857,2103,8050,15.000,733.21
24,20111031,11199,43606,4857,2120,8052,0.080,605.25
25,20111031,11199,43606,4857,2122,8054,0.110,832.22
26,20111031,11199,43606,4857,2124,8056,0.030,226.97
27,20111031,11199,43606,4857,2131,8049,142.500,6832.42
28,20111130,11199,43606,4857,2120,8052,0.080,615.90
29,20111130,11199,43606,4857,2122,8054,0.110,846.86
...,...,...,...,...,...,...,...,...
127954,20111031,11159,43638,4019,2130,8050,0.005,5867.50
127955,20111031,11159,43638,4019,2131,8049,138.750,3275.33
127956,20111130,11159,43638,4019,2120,8052,0.080,405.80
127957,20111130,11159,43638,4019,2122,8054,0.110,557.98
127958,20111130,11159,43638,4019,2124,8056,0.030,152.18
127959,20111130,11159,43638,4019,2130,8050,0.005,1354.57
127960,20111130,11159,43638,4019,2131,8049,165.000,3717.95
127961,20111231,11159,43638,4019,2120,8052,0.080,696.56
127962,20111231,11159,43638,4019,2122,8054,0.110,957.77
127963,20111231,11159,43638,4019,2124,8056,0.030,261.21
127964,20111231,11159,43638,4019,2130,8050,0.005,4989.07
127965,20111231,11159,43638,4019,2131,8049,165.000,3717.95
127966,20120131,11159,43638,4019,2103,8050,45.000,1013.99
127967,20120131,11159,43638,4019,2104,8050,3.750,84.50
127968,20120131,11159,43638,4019,2120,8052,0.080,633.66
127969,20120131,11159,43638,4019,2122,8054,0.110,871.28
127970,20120131,11159,43638,4019,2124,8056,0.030,237.62
127971,20120131,11159,43638,4019,2130,8050,0.005,4202.74
127972,20120131,11159,43638,4019,2131,8049,116.250,2619.46
127973,20120228,11159,43638,4019,2104,8050,15.000,371.79
127974,20120228,11159,43638,4019,2120,8052,0.080,1127.51
127975,20120228,11159,43638,4019,2122,8054,0.110,1550.32
127976,20120228,11159,43638,4019,2124,8056,0.030,422.81
127977,20120228,11159,43638,4019,2130,8050,0.005,10375.87
127978,20120228,11159,43638,4019,2131,8049,135.000,3346.16
127979,20120331,11159,43638,4019,2120,8052,0.080,626.18
127980,20120331,11159,43638,4019,2122,8054,0.110,861.00
127981,20120331,11159,43638,4019,2124,8056,0.030,234.82
127982,20120331,11159,43638,4019,2130,8050,0.005,4109.35
127983,20120331,11159,43638,4019,2131,8049,172.500,3717.95